@import './base.css';


body {
  background: linear-gradient(to right, #000000, #2b8ea0);
}

h2 {
  color: white;
  font-weight: bold;
}

p {
  color: white;
  font-weight: lighter;
}

h1 {
  color: white;
  font-weight: bold;
  
}

a {
  color: white;
  
  color: black;
  padding: 90px;

}


